{{> orDivider}}
<div class="{{buttonStackClasses}}">
  {{> socialButton name="Google" icon="google"}}
  {{> socialButton name="Facebook" icon="facebook"}}
  {{> socialButton name="Apple" icon="apple"}}
  {{> socialButton name="LinkedIn" icon="linkedin"}}
</div>