{{#> pageContainer pageTitle=signIn }}
  {{#if badCreds}}
  <div class="alert alert-danger" role="alert">
    Incorrect username or password.
  </div>
  {{/if}}
  <form>
    {{> textField key="username" label="Username" requiredMessage="Enter your username." autocomplete="username"}}
    {{> textField key="password" label="Password" requiredMessage="Enter your password." type="password" autocomplete="current-password"}}
    <div class="d-grid mt-4">
      <button class="btn btn-primary" type="submit">Continue</button>
    </div>
  </form>
  <a href="{{forgotPWUrl}}">Forgot Password</a> &bull; <a href="{{registrationUrl}}">Register</a>
{{/pageContainer}}